doctype html
html(lang="en")
	head
		block title
			title Placebrew Brewery
			
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='css/main.css')

	body
		div.logo
			h1 placebrew
				span Brewery
			span.moustache
				img(src='/assets/icons/moustache.svg')
			span.subtitle Est. 1876
		
		block content

		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='js/main.js')