nav {
	text-align: center;
	padding: 0 $column-gutter / 2;

	a:not(:last-child) {
		margin-right: $column-gutter / 2;
	}
}

.footer {
	list-style: none;
	margin: 0;
	text-align: right;
	margin-top: .5em;

	li {
		margin-top: .2em;
	}
}