extends ../layout.jade

block title
	title Brew Menu - Placebrew Brewery

block subnav
	a(href='/')
		i.fa.fa-question-circle.fa-lg.fa-fw
		span How-To
	
block content
	div.block.wide
		h2 Brew Menu

		ul.brews.masonry.small-block-grid-2.medium-block-grid-4