extends ../layout.jade

block content
	div.block.narrow
		h2 Placebrew, You Say?
		p.last Placebrew is a service for designers and developers that need delicious beer and coffee placeholder images.

	div.block.narrow
		h2.first How to Use
		p Easy. Pour a brew using <em>placebrew.com</em>, adding /width and /height values to the url. Like this:
		div.code http://placebrew.com/800/900
		ul.footer
			li
				a(href='https://github.com/stianba/placebrew/blob/master/README.md').secondary
					i.fa.fa-code.fa-lg.fa-fw
					span Advanced functionality
			li
				a(href='https://twitter.com/StianBa').secondary
					i.fa.fa-twitter.fa-lg.fa-fw
					span @StianBa