extends ../layout.jade

block content
	nav
		a(href='https://github.com/stianba/placebrew')
			i.fa.fa-github.fa-lg.fa-fw
			span View on GitHub
		a(href='/brews')
			i.fa.fa-beer.fa-lg.fa-fw
			span Brew Menu

	div.how-to-use
		h2 How to Use
		p Easy, Madam or Sir. Gentlewomen and gentlemen pour brews using <em>placebrew.com</em>, adding /width and /height values to the url. Like this:
		div.code http://placebrew.com/800/900
		ul.footer
			li
				a(href='https://github.com/stianba/placebrew/blob/master/README.md').secondary
					i.fa.fa-code.fa-lg.fa-fw
					span Advanced functionality
			li
				a(href='https://twitter.com/StianBa').secondary
					i.fa.fa-twitter.fa-lg.fa-fw
					span @StianBa