/* ==========================================================================
   Fonts
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic);

$font-body: Arial, sans-serif;
$font-heading: 'Bitter', serif;
$font-subtitle: 'Playfair Display', serif;

/* ==========================================================================
   Colors
   ========================================================================== */

$text-color-main: #111;